#main-content {
	background-color:black;
	height:300px;
	padding:50px 10px 10px 10px;
}
#main-content h1{
	font-size:100px;
    text-align:center;
}

#main-content .ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

#main-content .ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

#main-content .ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color:white;
  transform-origin: 0.5 0;
}

#main-content .ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

#main-content .ml5 .letters {
  display: inline-block;
  opacity: 0;
}
/* corsoul */
animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
/* second content */
/*#second-content {
}

#second-content .container-fluid{
	background-image:url("images/image333.jpg");
	opacity:0.9;
	padding:10px 10px 10px 10px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:700px;
	
}
#second-content h1{
	font-family: 'Staatliches';
	font-size: 90px;
	text-align:center;
}
#second-content a {
	position:relative;
	left:45%;
	background-color:white;
	padding:10px 10px 10px 10px;
	font-size:25px;
	color:black;
	border-radius:5px;
	text-decoration:none;

}
#second-content a:hover{
	background-color:black;
	color:white;
}
@media(max-width:600px){
	#second-content a {
	position:relative;
	left:40%;
	background-color:white;
	padding:10px 10px 10px 10px;
	font-size:25px;
	color:black;
	text-decoration:none;

}
}*/
/* third content */
.container-fluid{
	height:1000px;
	background-color:black;
	background-image:(url( "images/image333.jpg"));
}
#form-section {
 margin:10px 0px 0px 200px;
}
.container-fluid h2{
	padding:10px;
	color:white;
	 font-family: 'Staatliches', cursive;
}
#form-section h5 {
	color:white;
	 font-family: 'Josefin Sans', sans-serif;
	 margin:5px 0px 0px 0px;
}
#form-section input{
	border-radius:5px;
	margin:2px 0px 0px 0px;
}
#news input{
	margin:0px;
}
/* footer section */
/*#footer{
	background-color:black;
	height:50px;
}
#footer h4{
  text-align:center;
  font-size:15px;
  font-family: 'Staatliches', cursive;
  padding:20px 10px 10px 10px;
  color:white;
}
#footergo{
	background-color:black;
	height:50px;
}*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}